* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: min-content min-content 1fr;
}

#header {
    color: red;
    background-color: black;
    text-align: center;
}

#game-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
}

.isTurn {
    color: red;
}

#game {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content;
    width: 100vw;
    height: auto;
}

.board-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 50vw;
    border: 2px solid red;
    aspect-ratio: 1/1;
}

.gridSquare {
    background-color: black;
    color: red;
    height: 100%;
    border: 1px solid green;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridSquare:hover {
    cursor: pointer;
}

#playerBoardContainer .hasShip {
    background-color: grey;
}

#computerBoardContainer .sunk {
    background-color: grey;
}

.hit-cell {
    color: white;
}

.miss-cell {
    color: blue;
}

#game-controls{
    display: flex;
    justify-content: center;
    grid-column: 1/3;
}

.shipsBtn {
    padding: 5px 10px;
    margin: 20px;
}